{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}Haqqımızda{% endblock %}


{% block main %}
    

    <!--==========================
        BREADCRUMB AREA START
    ===========================-->
    <section
      class="breadcrumb_area"
      style="background: url({% static "assets/images/breadcrumb_bg.jpg" %})"
    >
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-12">
            <div class="breadcrumb_text">
              <h1>Haqqımızda</h1>
              <ul>
                <li><a href="{% url "home" %}">Ana Səhifə </a></li>
                <li><a href="#">Haqqımızda</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
        BREADCRUMB AREA END
    ===========================-->

    <!--==========================
        ABOUT START
    ===========================-->
    <section class="about_us_2 mt_45">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft">
            <div class="about_us_2_img">
              <img
                src="{% static "assets/images/about_2_img_1.jpg" %}"
                alt="about us"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="col-lg-6 wow fadeInRight">
            <div class="about_us_2_text">
              <h5>Haqqımızda</h5>
              <h2>{{about_page_text.about_bold_text}}</h2>
              <p>
                {{about_page_text.about_main_text}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
        ABOUT END
    ===========================-->

    <!--==========================
        TESTIMONIAL START
    ===========================-->
    <section
      class="testimonial mt_70"
      style="background: url({% static "assets/images/testimonial_bg.jpg" %})"
    >
      <div class="testimonial_overlay pt_400 xs_pt_100">
        <div class="container">
          <div class="testimonial_video">
            <a
              class="venobox play_btn"
              data-autoplay="true"
              data-vbtype="video"
              href="https://youtu.be/nqye02H_H6I?si=ougeOsfL0tat6YbT"
            >
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
        TESTIMONIAL END
    ===========================-->

    <!--==========================
        COUNTER START
    ===========================-->
    <section class="counter_area_2">
      <div class="counter_area_2_overlay pt_20 pb_20">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="single_counter_2_area">
                <ul>
                  <li class="wow fadeInUp">
                    <div class="icon">
                      <i class="fa-solid fa-user"></i>
                    </div>
                    <h3><span class="counter">{{number_values.number_of_clients}}</span>+</h3>
                    <p>Müştərilərimiz</p>
                  </li>
                  <li class="wow fadeInUp">
                    <div class="icon">
                      <i class="fa-solid fa-ranking-star"></i>
                    </div>
                    <h3><span class="counter">{{number_values.experience_years}}</span>+</h3>
                    <p>Təcrübə</p>
                  </li>
                  <li class="wow fadeInUp">
                    <div class="icon">
                      <i class="fa-solid fa-spray-can-sparkles"></i>
                    </div>
                    <h3><span class="counter">{{number_values.clean_percent}}</span>%</h3>
                    <p>Təmiz & Halal</p>
                  </li>
                  <li class="wow fadeInUp">
                    <div class="icon">
                      <i class="fa-solid fa-users"></i>
                    </div>
                    <h3><span class="counter">{{number_values.number_of_members}}</span>+</h3>
                    <p>Üzvlər</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
        COUNTER END
    ===========================-->

    <!--==========================
        FAQ START
    ===========================-->
    <section class="faq_area pt_50">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-6 wow fadeInLeft">
            <div
              class="accordion faq_accordion"
              id="accordionPanelsStayOpenExample"
            >

            {% for faq in faqs %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-heading{{ forloop.counter }}">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
                  aria-expanded="true"
                  aria-controls="panelsStayOpen-collapse{{ forloop.counter }}"
                >
                  {{faq.question}}
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapse{{ forloop.counter }}"
                class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-heading{{ forloop.counter }}"
              >
                <div class="accordion-body">
                  <p>
                    {{faq.answer}}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}

              

            </div>
          </div>
          <div class="col-xl-5 my-auto wow fadeInRight">
            <div class="faq_img">
              <img
                src="{% static "assets/images/faq_1.png" %}"
                alt="faq"
                class="img-fluid w-100"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
        FAQ END
    ===========================-->

{% endblock main %}