{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block main %}
    <!--==========================
        BREADCRUMB AREA START
    ===========================-->
    <section
      class="breadcrumb_area"
      style="background: url({% static 'assets/images/breadcrumb_bg.jpg' %})"
    >
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-12">
            <div class="breadcrumb_text">
              <h1>Menu</h1>
              <ul>
                <li><a href="{% url "home" %}">Ana Səhifə </a></li>
                <li><a href="#">Menu</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
        BREADCRUMB AREA END
    ===========================-->

    <!--==========================
        MENU START
    ===========================-->
    <section class="shefs pt_10">
      <div class="container">
        <div class="row">

          {% for menu_item in menu %}
          <div class="col-xl-3 col-6 col-lg-4 wow fadeInUp">
            <div class="single_menu">
              <a href="{% url "menu_detail" menu_item.id %}" class="single_menu_img">
                <img
                  src="{{ menu_item.get_main_image_url }}"
                  alt="{{ menu_item.title }}"
                  class="img-fluid w-100"
                />
                <span>{{menu_item.tag}}</span>
              </a>
              <div class="single_menu_text">
                <a class="title" href="menu_details.html">{{menu_item.title}}</a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

        <div class="pagination_area mt_60 wow fadeInUp">
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                  {% if menu.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ menu.previous_page_number }}" aria-label="Previous">
                              <i class="far fa-arrow-left"></i>
                          </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="Previous">
                              <i class="far fa-arrow-left"></i>
                          </a>
                      </li>
                  {% endif %}
                  {% for i in menu.paginator.page_range %}
                      {% if menu.number == i %}
                          <li class="page-item "><a class="page-link active" href="?page={{ i }}">{{ i }}</a></li>
                      {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if menu.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ menu.next_page_number }}" aria-label="Next">
                              <i class="far fa-arrow-right"></i>
                          </a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="Next">
                              <i class="far fa-arrow-right"></i>
                          </a>
                      </li>
                  {% endif %}
              </ul>
            </nav>
          </div>

      </div>
    </section>
    <!--==========================
        MENU END
    ===========================-->
{% endblock main %}